body{
    font-family: sans-serif;
    margin: 0;
    background-color: brown;
    }

    .mtn {
        float: right;
        width: calc(50% - 60px);
        padding: 10px;
        margin: 20px;
        margin-bottom: 80px;
      }